<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imagen</title>
	<link rel="stylesheet" href="/css/update.css">
</head>
<body>
  
  <section>
		<div class="form-box">
			<div class="form-value">
				<form id="login_form" class="login_form" action="/addImagen/<%=modelo.producto_id%>" method="post" enctype="multipart/form-data">
					<h2>Agregar Imagen</h2>
                    <input type="file" name="img" id="img" placeholder="Imagen">
                    <div class="inputbox">
                      <label for="destacado">Destacado</label>
	   <select id='destacado' name="destacado">
		<option value='1'>principal</option>
		<option value='0'>no main</option>
	   </select>
					</div>
					<div class="error hidden">
						<p>Error al iniciar sesion</p>
					</div>
					<input type="submit" value="agg Imagen" id="sendImg">
                    <a href="/productos" class="boton">Volver</a>
				</form>
			</div>
		</div>
	</section>
</body>
</html>